<ion-header-bar class="bar-positive">
    <a class="button button-clear icon ion-home ion-ios-arrow-back" ui-sref="setPersonal"></a>
    <h1 class="title">修改密码</h1>
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="password" placeholder="原始密码" ng-model="password.old">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="新密码" ng-model="password.new">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="确认密码" ng-model="password.again">
            </label>



            <button class="button button-block button-balanced" ng-click="submitFix(password)">
                <i class="icon ion-ios-personadd-outline"></i>&nbsp;确认修改
            </button>

            <button class="button button-block button-stable" ng-click="setPersonal()">
                <i class="icon ion-log-in"></i>&nbsp;手滑了？点此返回
            </button>
        </div>
    </ion-content>
</ion-view>