<ion-header-bar class="bar-positive">
    <a class="button button-clear icon ion-home ion-ios-arrow-back" ui-sref="tab.Me"></a>
    <h1 class="title">重置密码</h1>
</ion-header-bar>

<ion-content>
    <div class="list" id="notLogin">
        <label class="item item-input">
            <input type="email" placeholder="注册手机" ng-model="data.usermail">
        </label>

        <button class="button button-block button-balanced" ng-click="resetpassword()">
            <i class="icon ion-ios-personadd-outline"></i>&nbsp;发送验证短信
        </button>
    </div>
</ion-content>
