<ion-content style="background-color: #eeeeee; height: 100%; width: 100%;">
    <ion-header-bar class="bar-positive">
        <a class="button button-clear icon ion-home ion-ios-arrow-back" ui-sref="search"></a>
        <h1 class="title">{{item.name}}</h1>
    </ion-header-bar>
    <div>
        <img src="img/020.jpg" height="300px" width="100%" style="float: left">
        <div style="height: 60px; width: 100%; background-color: #ffffff;float: left;">
            <button class="button button-block button-balanced" style="width: 140px; float: right; right: 10px; margin: 0px; top: 8px; font-size: 18px;">
                <i class="icon ion-ios-heart-outline"></i>&nbsp;预定</button>
        </div>

        <div style="height: 200px; width: 100%; background-color: #ffffff;float: left; margin-top: 8px;">{{item.description}}</div>

        <div style="height: 200px; width: 100%; background-color: #ffffff;float: left; margin-top: 8px;"></div>
    </div>
</ion-content>